<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div style="text-align: -webkit-right" class="container">
  <button type="button" class="btn btn-success" routerLink="addView">
    Add
  </button>
</div>
<div *ngIf="formData" class="container">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>CC</th>
        <th>Year</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of formData">
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ model.name }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ model.cc }}</p>
        </td>
        <td>
          <span class="fw-normal mb-1">{{ model.year }}</span>
        </td>
        <td>
          <div class="row" style="display: flex">
          <div class="col-lg-3 d-flex justify-content-center">
            <button
              type="button"
              routerLink="editView/{{ model._id }}"
              class="btn btn-warning"
            >
              Edit
            </button>
            </div>
            <div class="col-lg-3 d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-danger"
              (click)="handleDelete(model._id)"
            >
              Delete
            </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <nav>
    <ul class="pagination" style="place-content: center">
      <li class="page-item" *ngIf="offset > 0">
        <a
          class="page-link"
          style="cursor: pointer"
          (click)="prev()"
          tabindex="-1"
          >Previous</a
        >
      </li>

      <li class="page-item" *ngIf="formData.length == 5">
        <a class="page-link" style="cursor: pointer" (click)="next()">Next</a>
      </li>
    </ul>
  </nav>
</div>
